<!doctype html>
<html>
    <head>
        <title>Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <script>
            
        </script>
    </head>
    <body>
        <div class="container">
            <div class="game">
                <div id="points">
                    <h1>Score:&nbsp;<span id="score">0</span></h1>
                </div>
                <div class="content">
                    <canvas id="snake" width="500" height="500"></canvas>
                    <script>
                        const score = document.getElementById('score');

                        const board = document.getElementById('snake');
                        const board_context = board.getContext("2d");

                        let dx = 20;
                        let dy = 0;

                        let food_x;
                        let food_y;

                        let snake = [
                            {
                                x: 0,
                                y: 0
                            }, 
                            {
                                x: -20,
                                y: 0
                            }
                        ];

                        console.log(snake[0].x);
                        
                        function drawSnakePart(snakePart) {
                            board_context.fillStyle = 'green';
                            board_context.fillRect(snakePart.x, snakePart.y, 20, 20)
                        }

                        function drawSnake() {
                            snake.forEach(drawSnakePart);
                        }

                        function clearCanvas() {
                            board_context.fillStyle = "#300C5D";
                            board_context.fillRect(0, 0, 500, 500);
                        }

                        function moveSnake() {
                            const head = {
                                x: snake[0].x + dx,
                                y: snake[0].y + dy
                            }
                            snake.unshift(head);
                            console.log('Snake: (' + snake[0].x + ', ' + snake[0].y + ')')
                            console.log('Food: (' + food_x + ', ' + food_y + ')')
                            if(snake[0].x === food_x && snake[0].y === food_y) {
                                generateFood();
                                score.innerText = parseInt(score.innerHTML) + 1;
                            } else
                                snake.pop();
                        }

                        function changeDirection(event) {
                            const UP_KEY = 38;
                            const DOWN_KEY = 40;
                            const LEFT_KEY = 37;
                            const RIGHT_KEY = 39;

                            const keyPressed = event.keyCode;

                            if(changingDirection)
                                return;
                            
                            changingDirection = true;

                            if(keyPressed == UP_KEY) {
                                dx = 0;
                                dy = -20;
                            }

                            if(keyPressed == DOWN_KEY) {
                                dx = 0;
                                dy = 20;
                            }

                            if(keyPressed == LEFT_KEY) {
                                dx = -20;
                                dy = 0;
                            }

                            if(keyPressed == RIGHT_KEY) {
                                dx = 20;
                                dy = 0;
                            }
                        }

                        function death() {
                            for(let i = 4; i < snake.length; i++) {
                                const collision = snake[i].x == snake[0].x && snake[i].y == snake[0].y;
                                if(collision)
                                    return true;
                            }
                            const hitLeftWall = snake[0].x < 0;  
                            const hitRightWall = snake[0].x > 500 - 20;
                            const hitTopWall = snake[0].y < 0;
                            const hitBottomWall = snake[0].y > 500 - 20;
                            
                            return hitLeftWall ||  hitRightWall || hitTopWall || hitBottomWall;
                        }

                        generateFood();
                        document.addEventListener("keydown", changeDirection);

                        function randomFood(x, y) {
                            return Math.round((Math.random() * (x - y) + y) / 20) * 20;
                        }

                        function generateFood() {
                            food_x = randomFood(0, 500 - 20);
                            food_y = randomFood(0, 500 - 20);
                            snake.forEach(function has_eaten(part) {
                                if((part.x == food_x) && (part.y == food_y))
                                    generateFood();
                            });
                        }

                        function drawFood() {
                            board_context.fillStyle = 'gold';
                            console.log(food_x, food_y);
                            board_context.fillRect(food_x, food_y, 20, 20);
                        }

                        function play() {

                            if(death()) {
                                console.log('Death');
                                return;
                            }
                            
                            changingDirection = false;

                            setTimeout(function onTick() {
                                clearCanvas();
                                drawFood();
                                moveSnake();
                                drawSnake();
                                play();
                            }, 100)
                        }

                        play();
                    </script>
                </div>
            </div>
            <div class="about">
                <h1>
                    Antonio Gravino
                </h1>
                <h2>
                    Full-Stack Developer
                </h2>
                <div class="icons">
                    <a href="">
                        <img class="github" src="{{ url_for('static', filename = 'public/github.png') }}" />
                    </a>
                    <a href="/">
                        <img class="linkedin" src="{{ url_for('static', filename = 'public/linkedin.png') }}" />
                    </a>
                    <a href="/">
                        <img class="gmail" src="{{ url_for('static', filename = 'public/gmail.png') }}" />
                    </a>
                </div>
                <h3>
                    <a href="/">» Education, Skills, Project, Work Experience</a>
                </h3>
            </div>
        </div>
    </body>
</html>
