<!doctype html>
<html>
    <head>
        <title>Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="game">
                <div class="score">
                    <h1>Score: 1</h1>
                </div>
                <div class="content">
                    
                </div>
            </div>
            <div class="about">
                <h1>
                    Antonio Gravino
                </h1>
                <h2>
                    Qualcosa
                </h2>
                <div class="icons">
                    &bull; &bull; &bull;
                </div>
                <h3>
                    <a href="/">Link</a>
                </h3>
            </div>
        </div>
    </body>
</html>
